<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DVCW - Lottery</title>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css" media="screen,projection">    
    <link rel="stylesheet" href="../assets/css/main.css">
    <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
    <div id="lottery-root">
        <div class="section">
            <div class="container">
                <h4 class="header center">Try your luck in the lottery!</h4>
                <!-- Error messages -->
                <div v-cloak class="row center">
                    <div class="col s3"></div>
                    <div class="col s6">
                        <div id="error-box" v-show="error.length > 0" class="card-panel red darken-1">
                            {{error}}
                            <i @click="dismissError" style="cursor: pointer;" class="material-icons right" id="alert-close">close</i>
                        </div>
                        <div id="message-box" v-show="message.length > 0" class="card-panel green lighten-1">
                            {{message}}
                            <i @click="dismissMessage" style="cursor: pointer;" class="material-icons right" id="alert-close">close</i>
                            <br>
                        </div>
                        <button v-if="winner" class="waves-effect waves-light btn" @click="reclaimJackpot">Reclaim jackpot</button>
                    </div>
                    <div class="col s3"></div>
                </div>
                <!-- Lottery data -->
                <blockquote>
                    Bet on a number <strong class="colorize">between 0 and 46</strong>.
                    If you guess correctly, you <strong class="colorize">win the whole jackpot.</strong>
                    Otherwise, your bet will be added to the jackpot. Easy, right ?.
                    <br/>
                    The lottery ticket costs 10 ETH.
                    <br/><br/>
                    The whole process is managed by an autonomous smart contract, which you can find at
                    <span style="cursor: pointer;" class="colorize" @click="openModal()">
                        <strong>{{address}}</strong>
                    </span>
                </blockquote>
                <div class="row">
                    <div class="col s6">
                        <h5>Current Jackpot: <span class="colorize">{{jackpot}} ETH</span></h5>
                    </div>
                    <div class="col s6">
                        <h5>Last winning number: <span class="colorize">{{lastResult}}</span></h5>
                    </div>
                </div>
                <!-- Betting form -->
                <div class="row center" v-if="jackpot > 0">                    
                    <div class="input-field col s5">
                        <input id="guessNumber" type="number" v-model="guess" min="0" max="46">
                        <label for="guessNumber" class="active">Your lucky number (between 0 and 46)</label>
                    </div>
                    <div class="input-field col s5" v-show="false">
                            <input id="betAmount" type="number" v-model="bet" min="10" step="0.1">
                            <label for="betAmount" class="active">Your bet (in ETH)</label>
                        </div>
                    <div class="col s2">
                        <button @click="openTwoFactorAuth" class="waves-effect waves-light btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Place your bet">
                            Bet!
                        </button>
                    </div>
                </div>
                <div v-else class="center">
                    <p>The jackpot has been won, so the lottery is closed for now.</p>                    
                </div>
                <div id="modal-contract" class="modal">
                    <div class="modal-content">
                        <h5 class="light">Lottery smart contract</h5>
                        <hr>
                        <div>
                            <pre>
                                <code>
pragma solidity ^0.4.21;

contract Lottery {
    uint8 public lastResult;
    uint private seed;
    bool public winner = false;

    function Lottery(uint _seed) public payable {
        seed = _seed;
    }

    function getRandomNumber(uint _seed) internal view returns (uint8) {
        return uint8(uint256(keccak256(block.blockhash(block.number), block.timestamp, _seed)) % 47);
    }

    function bet(uint8 _bet) public payable returns (bool) {
        require(winner == false && msg.value > 0 && _bet >= 0 && _bet <= 46);

        lastResult = getRandomNumber(seed);
        
        if(lastResult == _bet) {
            msg.sender.transfer(address(this).balance);
            winner = true;
        }
        return winner;
    }
}</code></pre>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/hammerjs/hammer.min.js"></script>
    <script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../render/lottery.render.js"></script>
</body>
</html>